/* Raster */

.row1,
.row3 {
width:auto;
padding:50px;
}

.row1,
.row3 {
	background-color: #282828;
}

.row1:before, 
.row1:after,
.row2:before, 
.row2:after,
.row3:before, 
.row3:after {
	content: " ";
	display: table;
}

.row1:after,
.row2:after,
.row3:after {
    clear: both;
}

.row2 {
	background-color: #e9eae9;
	color:black;
	padding-top:20px;
	padding-bottom:30px;
}

.columns {float:left;margin-top:1em;}

@media screen and (max-width:600px) {

/* Small */
.small-1 {width:98%;padding:1%}
.pic{width:100%;}

}

@media screen and (min-width:600px) and (max-width:1000px) {

/* Medium */
.medium-1 {width:48%;padding:1%}

.medium-2 {width:100%;}

.pic{width:100%;}

}

@media screen and (min-width:1000px) {

/* Large */
.large-1 {width:31.333%;padding:1%}

.large-2 {width:66.666%;}

.large-3 {width:100%;}

.pic{width:100%;}
}

/* #separa{
  margin-left: 0.4%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 20%;
}

#sepa {
  margin-left: 0.4%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 5%;
}
 */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  position: relative;
  min-height: 1%;
  padding-left: 3%;
  padding-top: 1%;
  padding-right: 5.2%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}
